<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>

    <main>
        <section class="contenido">
        <section class="left">
        <section class="formulario_edit">
            <h2>Editar pefil</h2>
            <div class="errores">
                <% if(typeof errors != 'undefined'){ %>
                    <p class="errorTitle">ERROR</p>
                    <ul>
                        <% for(let i=0; i<errors.length; i++){ %>
                            <li style="font-size: 13px"><%= errors[i].msg %> </li> 
                        <% } %> 
                    </ul> 
                <% } %>
                </div>
            <form class="formulario" action="/users/edit" method="POST">
                <input class="user-name" type="text" name="userName" placeholder="nombre" value="<%= typeof old != "undefined" ? old.userName : user.first_name %>" required minlength="3" maxlength="15">
                <input class="user-surname" type="text" name="userSurname" placeholder="apellido" value="<%= typeof old != "undefined" ? old.userSurname : user.last_name %>" required minlength="2" maxlength="15">
                <input class="user-email" type="text" name="email" placeholder="email" value="<%= typeof old != "undefined" ? old.email : user.email %>" required>
                <!-- <input class="pass" type="password" name="pass" placeholder="Introdusca contraseña para confirmar"> -->
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>

        

        <section class="formulario_edit">
            <h2>Cambiar avatar</h2>
            <form class="formulario" action="/users/avatar" method="POST" enctype="multipart/form-data">
                <input class="avatar" type="file" name="avatar">
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>
    </section>
    <section class="right">
        <section class="formulario_edit">
            <h2>Cambiar contraseña</h2>
            <form class="formulario" action="/users/password" method="POST">
                <input class="pass" type="password" name="passOld" placeholder="Contraseña actual">
                <input class="pass" type="password" name="passNew" placeholder="Nueva contraseña">
                <input class="pass" type="password" name="passNew2" placeholder="Repita la nueva contraseña">
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>
    </section>
</section>

    </main>

    <%- include('../partials/footer') %>
    </body>
<%- include('../partials/linksJsAbajo') %>
</html>