<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <script src="/javascripts/passUpdate.js" type="text/javascript" defer></script>
    <script src="/javascripts/passMatch.js" type="text/javascript" defer></script>
    <main>
        <section class="contenido">
        <section class="left">
        <section class="formulario_edit">
            <h2>Editar pefil</h2>
            <div class="errores">
                <% if(typeof errors != 'undefined'){ %>
                    <p class="errorTitle">ERROR</p>
                    <ul>
                        <% for(let i=0; i<errors.length; i++){ %>
                            <li style="font-size: 13px"><%= errors[i].msg %> </li> 
                        <% } %> 
                    </ul> 
                <% } %>
                </div>
            <form class="formulario" action="/users/edit" method="POST">
                <input class="user-name" type="text" name="userName" placeholder="nombre" value="<%= typeof old != "undefined" ? old.userName : user.first_name %>" required minlength="3" maxlength="15">
                <input class="user-surname" type="text" name="userSurname" placeholder="apellido" value="<%= typeof old != "undefined" ? old.userSurname : user.last_name %>" required minlength="2" maxlength="15">
                <input class="user-email" type="text" name="email" placeholder="email" value="<%= typeof old != "undefined" ? old.email : user.email %>" required>
                <!-- <input class="pass" type="password" name="pass" placeholder="Introduzca contraseña para confirmar"> -->
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>

        

        <section class="formulario_edit">
            <h2>Cambiar avatar</h2>
            <div class="errores">
                <% if(typeof errors2 != 'undefined'){ %>
                    <p class="errorTitle">ERROR</p>
                    <ul>
                        <% for(let i=0; i<errors2.length; i++){ %>
                            <li style="font-size: 13px"><%= errors2[i].msg %> </li> 
                        <% } %> 
                    </ul> 
                <% } %>
                </div>
            <form class="formulario" action="/users/avatar" method="POST" enctype="multipart/form-data">
                <input class="avatar" type="file" name="avatar" required>
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>
    </section>
    <section class="right">
        <section class="formulario_edit">
            <h2>Cambiar contraseña</h2>
            <div class="errores">
                <% if(typeof msg != 'undefined'){ %>
                    <p class="errorTitle"><%=msg%></p>
                <% } %> 
                <% if(typeof errors3 != 'undefined'){ %>
                    <p class="errorTitle">ERROR</p>
                    <ul>
                        <% for(let i=0; i<errors3.length; i++){ %>
                            <li style="font-size: 13px"><%= errors3[i].msg %> </li> 
                        <% } %> 
                    </ul> 
                <% } %>
                </div>
            <form class="formulario contrasena" action="/users/password" method="POST">
                <div class="form-control">
                <input class="pass" type="password" id="passOld" name="passOld" required placeholder="Contraseña actual" value="<%= typeof old != "undefined" ? old.passOld : "" %>">
                <small id="message_passold"></small>    
                </div>
                <div class="form-control">
                <input class="pass" type="password" id="pass" name="passNew" required minlength="6" maxlength="20" placeholder="Nueva contraseña" value="<%= typeof old != "undefined" ? old.passNew : "" %>">
                <small id="message_newpass"></small>
                </div>
                <div class="form-control">
                <input class="pass" type="password" id="pass2" name="passNew2" required minlength="6" maxlength="20" placeholder="Repita la nueva contraseña" value="<%= typeof old != "undefined" ? old.passNew2 : "" %>">
                <small id="message_newpass2"></small>
                <small id='message'></small>
                </div>
                <button class="boton" type="submit">Confirmar</button>
            </form>
        </section>
    </section>
</section>

    </main>

    <%- include('../partials/footer') %>
    </body>
<%- include('../partials/linksJsAbajo') %>
</html>