<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <script src="/javascripts/passMatch.js" type="text/javascript" defer></script>
    <script src="/javascripts/signinFrontValidator.js" type="text/javascript" defer></script>
     <main>
        <div class="main-header">
            <h2 class="registrarse">Registrarse</h2>
            <div class="errores">
                <% if(typeof errors != 'undefined'){ %>
                    <p class="errorTitle">ERROR</p>
                    <ul>
                        <% for(let i=0; i<errors.length; i++){ %>
                            <li style="font-size: 13px"><%= errors[i].msg %> </li> 
                        <% } %> 
                    </ul> 
                <% } %>
            </div>
            <p class="ir-a-login">¿Ya eres usuario? <a href="/users/login">Ingresa</a></p>
        </div>
       
        <form class="formulario" action="/users/registro" method="POST" >
            <div class="form-control">
            <input class="user-name" type="text" name="userName" id="firstname" placeholder="Ingresa tu nombre" required minlength="3" maxlength="15" value="<%= typeof old != "undefined" ? old.userName : "" %>">
            <small id="message_firstname"></small>
            </div>
            <div class="form-control">
            <input class="user-surname" type="text" name="userSurname" id="surname" placeholder="Ingresa tu apellido" required minlength="2" maxlength="15" value="<%= typeof old != "undefined" ? old.userSurname : "" %>">
            <small id="message_surname"></small>
            </div>
            <div class="form-control">
            <input class="user-email" type="text" name="email" id="email" placeholder="Ingresa tu email" required value="<%= typeof old != "undefined" ? old.email : "" %>">
            <small id="message_email"></small>
            <% if(typeof msg != 'undefined'){ %>
                <p class="errorTitle"><%=msg%></p>
            <% } %> 
            </div>
            <div class="form-control">
            <input class="pass" type="password" name="pass" id="pass" placeholder="Constraseña" required minlength="6" maxlength="20">
            <small id="message_pass"></small>
            </div>
            <div class="form-control">
            <input class="pass" type="password" name="pass2" id="pass2" placeholder="Repetir constraseña" required>
            
            <small id='message'></small>
            </div>
            <select class="category" name="category" id="category" required>
                    <option value="">
                        seleccione una opción
                    </option>
                    <option value="2">
                        Estudiante 
                    </option>
                    <option value="1">
                        Profesor
                    </option>
            </select>
            <button class="boton" type="submit">Registrarse </button>
        </form>
    </main>
    
    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>