<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/categoriasCursos') %>

    <%if(products != ""){%> 

    <% if(products[0].age_id == 1){ %>
    <h2 class="tituloCursos">Todos los cursos para niños:</h2>
    <% } else if (products[0].age_id == 2){ %>
        <h2 class="tituloCursos">Todos los cursos para jóvenes adultos:</h2>
        <% } else if (products[0].age_id == 3) { %>
        <h2 class="tituloCursos">Todos los cursos para adultos:</h2>
        <% } %>
            
    <div class="losProductos">
   
    <% products.forEach(producto => {  %>
    <article class="unProducto">
        <a href="/products/ver/<%=producto.id%>">
        <section class="sectionProducto imgProducto">
            <img src="/images/cursos/<%=producto.image%>" alt="<%=producto.name%>">
        </section>
        <section class="sectionProducto infoProducto">
            <h3><%=producto.name%></h3>
            <p><%=producto.description%> </p>
        </section>
    </a>
    </article>
    <% }) %> 
    <%}else{%>
    <div class="losProductos" style="margin-bottom: 40px;">
    <h2 class="tituloCursos">No hay cursos de esta categoría por el momento.</h2>
    </div>
    <%}%>
</div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>