<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/categoriasCursos') %>

    <% if(productsExperiencia[0].experiencia == "empezando"){ %>
    <h2 class="tituloCursos">Todos los cursos para principiantes:</h2>
    <% } else if (productsExperiencia[0].experiencia == "con_conocimiento"){ %>
        <h2 class="tituloCursos">Todos los cursos para los que tienen conocimiento:</h2>
        <% } else if (productsExperiencia[0].experiencia == "avanzado") { %>
        <h2 class="tituloCursos">Todos los cursos para avanzados:</h2>
        <% } %>
            
    <div class="losProductos">
    <% productsExperiencia.forEach(producto => {  %>
    <article class="unProducto">
        <a href="/products/ver/<%=producto.id%>">
        <section class="sectionProducto imgProducto">
            <img src="/images/cursos/<%=producto.image%>" alt="<%=producto.nombre%>">
        </section>
        <section class="sectionProducto infoProducto">
            <h3><%=producto.nombre%></h3>
            <p><%=producto.descripcion%> </p>
        </section>
    </a>
    </article>
    <% }) %> 
</div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>