<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>
    <%- include('../partials/categoriasCursos') %>

    <% if(productsAmbiente[0].ambiente == "interior"){ %>
    <h2 class="tituloCursos">Todos los cursos para interior:</h2>
    <% } else if (productsAmbiente[0].ambiente == "patios_balcones"){ %>
        <h2 class="tituloCursos">Todos los cursos para patios y balcones:</h2>
        <% } else if (productsAmbiente[0].ambiente == "jardin") { %>
        <h2 class="tituloCursos">Todos los cursos para jardín:</h2>
        <% } %>
            
    <div class="losProductos">
    <% productsAmbiente.forEach(producto => {  %>
    <article class="unProducto">
        <a href="/products/ver/<%=producto.id%>">
        <section class="sectionProducto imgProducto">
            <img src="/images/cursos/<%=producto.image%>" alt="<%=producto.nombre%>">
        </section>
        <section class="sectionProducto infoProducto">
            <h3><%=producto.nombre%></h3>
            <p><%=producto.descripcion%> </p>
        </section>
    </a>
    </article>
    <% }) %> 
</div>

    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>