<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>

    
    <div class="formularioProducto">
    <form action="/products/edit/<%=curso.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h2 class="formTitle">Editar curso <%=curso.name%></h2>
        <div class="errores">
        <% if(typeof errors != 'undefined'){ %>
            <p class="errorTitle">ERROR</p>
            <ul>
                <% for(let i=0; i<errors.length; i++){ %>
                    <li style="font-size: 13px"><%= errors[i].msg %> </li> 
                <% } %> 
            </ul> 
            <% } %> 
        </div>

        <section>
            <input type="text" placeholder="Nombre" name="name" required minlength="5" maxlength="120" value="<%= typeof old != "undefined" ? old.name : curso.name %>">
            <textarea name="description" id="descripcion" cols="30" rows="10" placeholder="Descripción..." required minlength="20" maxlength="400"><%= typeof old != "undefined" ? old.description : curso.description %></textarea>
            <select name="age_id" id="edad" required>
                <option value="">Edad recomendada</option>


        <% edad.forEach(edad => { %>
        <%if (typeof old != "undefined"){%>
            <%if (old.age_id == edad.id){%>
            <option value="<%=edad.id%>" selected><%=edad.category_name%></option>
            <%}else{%>
                <option value="<%=edad.id%>" ><%=edad.category_name%></option>
            <%}%>
       <%}else%>
            <%if (curso.age_id == edad.id){%>
            <option value="<%=edad.id%>" selected><%=edad.category_name%></option>
            <%}else{%>
            <option value="<%=edad.id%>" ><%=edad.category_name%></option>
            <%}%>
        <%})%>

            </select>
            <select name="experience_id" id="experiencia" required>
                <option value="">Experiencia recomendada</option>
                <% experiencia.forEach(experiencia => { %>
                    <%if (typeof old != "undefined"){%>
                        <%if (old.experience_id == experiencia.id){%>
                        <option value="<%=experiencia.id%>" selected><%=experiencia.category_name%></option>
                        <%}else{%>
                            <option value="<%=experiencia.id%>" ><%=experiencia.category_name%></option>
                        <%}%>
                   <%}else%>
                        <%if (curso.experience_id == experiencia.id){%>
                        <option value="<%=experiencia.id%>" selected><%=experiencia.category_name%></option>
                        <%}else{%>
                        <option value="<%=experiencia.id%>" ><%=experiencia.category_name%></option>
                        <%}%>
                    <%})%>
            </select>
            <select name="environment_id" id="ambiente" required>
                <option value="">Ambiente</option>
                <% ambiente.forEach(ambiente => { %>
                    <%if (typeof old != "undefined"){%>
                        <%if (old.environment_id == ambiente.id){%>
                        <option value="<%=ambiente.id%>" selected><%=ambiente.category_name%></option>
                        <%}else{%>
                            <option value="<%=ambiente.id%>" ><%=ambiente.category_name%></option>
                        <%}%>
                   <%}else%>
                        <%if (curso.environment_id == ambiente.id){%>
                        <option value="<%=ambiente.id%>" selected><%=ambiente.category_name%></option>
                        <%}else{%>
                        <option value="<%=ambiente.id%>" ><%=ambiente.category_name%></option>
                        <%}%>
                    <%})%>
            </select>

            <input type="text" name="professor" placeholder="Nombre del profesor" required value="<%= typeof old != "undefined" ? old.professor : curso.professor %>">
            <input type="text" name="duration" placeholder="Duración del curso" required value="<%= typeof old != "undefined" ? old.duration : curso.duration %>">

        </section>
        <section>
            <input type="file" name="image" id="image">
            <input type="text" name="language" placeholder="Idioma" required value="<%= typeof old != "undefined" ? old.language : curso.language %>">
            <input type="text" name="price" placeholder="Precio Total" required value="<%= typeof old != "undefined" ? old.price : curso.price %>">


            <article>
                <label class="unitsTitle">Unidades:</label>
                <%if(typeof old != "undefined"){%>

            <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=old.unit_name[0]%>">
                
            <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=old.unit_name[1]%>">
    
                <ul id="newElementId">
    
                    <% for(let i = 2; i < old.unit_name.length; i++){ %>
                
                        <li>
                         
                        <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=old.unit_name[i]%>">
            
                    </li>
            
                        <%}%>
    
            </ul>
    
                <%}else{%>

                    <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=unidades[0].unit_name%>">
                
                    <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=unidades[1].unit_name%>">

                    <ul id="newElementId">
    
                    <% for(let i = 2; i < unidades.length; i++){ %>
                        
                        <li>
                         
                        <input type="text" class='units' name="unit_name" required minlength="5" placeholder='Unidad...' value= "<%=unidades[i].unit_name%>">
            
                    </li>
                    <%}%>
    
                </ul>
    
                <%}%>
    
                <script type="text/JavaScript">
                    function createNewElement() {
                        // First create a DIV element.
                        var txtNewInputBox = document.createElement('li');
                    
                        // Then add the content (a new input box) of the element.
                        txtNewInputBox.innerHTML = "<input type='text' id='newInputBox' class='units' name='unit_name' minlength='5' required placeholder='Unidad...'>";
                    
                        // Finally put it where it is supposed to appear.
                        document.getElementById("newElementId").appendChild(txtNewInputBox);
    
                    }
    
    
    
                    function deleteElement(elementId) {
    
                        let units = document.getElementById('newElementId');
                        units.removeChild(units.lastElementChild);
    
                    }
                    </script>

    
                <ul id="newElementId"></ul>
                
                <section class="masMenos">
                <div>
                    <input type="button" value="+" onclick="createNewElement();"/>
                 </div>
    
                 <div>
                    <input type="button" value="-" onclick="deleteElement();"/>
                 </div>

                </section>
    
                </article>



                <article>
                    <label class="unitsTitle">Requisitos:</label>
                    <%if(typeof old != "undefined"){%>

                    <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=old.req_name[0]%>">
                
                    <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=old.req_name[1]%>">
        
                    <ul id="newElementId2">
        
                    <% for(let i = 2; i < old.req_name.length; i++){ %>
                    
                    <li>
                     
                    <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=old.req_name[i]%>">
        
                </li>
        
                    <%}%>
        
                </ul>
        
                    <%}else{%>

                        <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=requisitos[0].req_name%>">
                
                        <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=requisitos[1].req_name%>">
    
                        <ul id="newElementId2">
        
                            <% for(let i = 2; i < requisitos.length; i++){ %>
                            
                            <li>
                             
                            <input type="text" class='requisitos' name="req_name" required minlength="4" placeholder='Requisitos...' value= "<%=requisitos[i].req_name%>">
                
                        </li>
                        <%}%>
        
                    </ul>
        
                    <%}%>
        
                    <script type="text/JavaScript">
                        function createNewElement2() {
                            // First create a DIV element.
                            var txtNewInputBox = document.createElement('li');
                        
                            // Then add the content (a new input box) of the element.
                            txtNewInputBox.innerHTML = "<input type='text' id='newInputBox2' class='requisitos' name='req_name' minlength='4' required placeholder='Requisitos...'>";
                        
                            // Finally put it where it is supposed to appear.
                            document.getElementById("newElementId2").appendChild(txtNewInputBox);
        
                        }
        
        
        
                        function deleteElement2(elementId) {
        
                            let requisito = document.getElementById('newElementId2');
                            requisito.removeChild(requisito.lastElementChild);
        
                        }
                        </script>
    
        
                    <ul id="newElementId2"></ul>
                    
                    <section class="masMenos">
                    <div>
                        <input type="button" value="+" onclick="createNewElement2();"/>
                     </div>
        
                     <div>
                        <input type="button" value="-" onclick="deleteElement2();"/>
                     </div>
    
                    </section>
        
                    </article>

        </section>
        <div class="botones_form">
        <button type="submit" class="crear_boton">Actualizar Curso</button>
        <button class="cancelar_boton"><a href="/">Cancelar</a></button>
        </div> 
    </form>
</div>


    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>