<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>

    
    <div class="formularioProducto">
    <form action="/products/edit/<%=curso.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
        <h2 class="formTitle">Editar curso <%=curso.nombre%></h2>
        <div class="errores">
        <% if(typeof errors != 'undefined'){ %>
            <p class="errorTitle">ERROR</p>
            <ul>
                <% for(let i=0; i<errors.length; i++){ %>
                    <li style="font-size: 13px"><%= errors[i].msg %> </li> 
                <% } %> 
            </ul> 
            <% } %> 
        </div>

        <section>
            <input type="text" placeholder="Nombre" name="nombre" required minlength="5" maxlength="120" value="<%= typeof old != "undefined" ? old.nombre : curso.nombre %>">
            <textarea name="descripcion" id="descripcion" cols="30" rows="10" placeholder="Descripción..." required minlength="20" maxlength="400"><%= typeof old != "undefined" ? old.descripcion : curso.descripcion %></textarea>
            <select name="edad" id="edad" required>
                <option value="">Edad recomendada</option>
                <% if ((typeof old != "undefined" && old.edad == "ninos") || curso.edad == "ninos"){ %> 
                    <option value="ninos" selected>Niños</option>
                <% } else { %> 
                    <option value="ninos">Niños</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.edad == "jovenes_adultos") || curso.edad == "jovenes_adultos"){ %> 
                    <option value="jovenes_adultos" selected>Jóvenes adultos</option>
                <% } else { %> 
                    <option value="jovenes_adultos">Jóvenes adultos</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.edad == "adultos") || curso.edad == "adultos"){ %> 
                    <option value="adultos" selected>Adultos</option>
                <% } else { %> 
                    <option value="adultos">Adultos</option>
                <% } %> 
            </select>
            <select name="experiencia" id="experiencia" required>
                <option value="">Experiencia recomendada</option>
                <% if ((typeof old != "undefined" && old.experiencia == "empezando") || curso.experiencia == "empezando"){ %> 
                    <option value="empezando" selected>Empezando</option>
                <% } else { %> 
                    <option value="empezando">Empezando</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.experiencia == "con_conocimiento") || curso.experiencia == "con_conocimiento"){ %> 
                    <option value="con_conocimiento" selected>Con conocimiento</option>
                <% } else { %> 
                    <option value="con_conocimiento">Con conocimiento</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.experiencia == "avanzado") || curso.experiencia == "avanzado"){ %> 
                    <option value="avanzado" selected>Avanzada</option>
                <% } else { %> 
                    <option value="avanzado">Avanzada</option>
                <% } %> 
            </select>
            <select name="ambiente" id="ambiente" required>
                <option value="">Ambiente</option>
                <% if ((typeof old != "undefined" && old.ambiente == "interior") || curso.ambiente == "interior"){ %> 
                    <option value="interior" selected>Interior</option>
                <% } else { %> 
                    <option value="interior">Interior</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.ambiente == "patios_balcones") || curso.ambiente == "patios_balcones"){ %> 
                    <option value="patios_balcones" selected>Patios y balcones</option>
                <% } else { %> 
                    <option value="patios_balcones">Patios y balcones</option>
                <% } %> 
                <% if ((typeof old != "undefined" && old.ambiente == "jardin") || curso.ambiente == "jardin"){ %> 
                    <option value="jardin" selected>Jardín</option>
                <% } else { %> 
                    <option value="jardin">Jardín</option>
                <% } %> 
            </select>
        </section>
        <section>
            <input type="file" name="image" id="image">
            <input type="text" name="idioma" placeholder="Idioma" required value="<%= typeof old != "undefined" ? old.idioma : curso.idioma %>">
            <input type="text" name="precio" placeholder="Precio Total" required value="<%= typeof old != "undefined" ? old.precio : curso.precio %>">


            <article>
                <label class="unitsTitle">Unidades:</label>
                <%if(typeof old != "undefined"){%>
    
                <ul id="newElementId">
    
                <% old.unidades.forEach(unidad => {%>
                
                <li>
                 
                <input type="text" class='units' name="unidades" required minlength="5" placeholder='Unidad...' value= "<%=unidad%>">
    
            </li>
    
                <%})%>
    
            </ul>
    
                <%}else{%>

                    <ul id="newElementId">
    
                        <% curso.unidades.forEach(unidad => {%>
                        
                        <li>
                         
                        <input type="text" class='units' name="unidades" required minlength="5" placeholder='Unidad...' value= "<%=unidad%>">
            
                    </li>
                    <%})%>
    
                </ul>
    
                <%}%>
    
                <script type="text/JavaScript">
                    function createNewElement() {
                        // First create a DIV element.
                        var txtNewInputBox = document.createElement('li');
                    
                        // Then add the content (a new input box) of the element.
                        txtNewInputBox.innerHTML = "<input type='text' id='newInputBox' class='units' name='unidades' minlength='5' required placeholder='Unidad...'>";
                    
                        // Finally put it where it is supposed to appear.
                        document.getElementById("newElementId").appendChild(txtNewInputBox);
    
                    }
    
    
    
                    function deleteElement(elementId) {
    
                        let units = document.getElementById('newElementId');
                        units.removeChild(units.lastElementChild);
    
                    }
                    </script>

    
                <ul id="newElementId"></ul>
                
                <section class="masMenos">
                <div>
                    <input type="button" value="+" onclick="createNewElement();"/>
                 </div>
    
                 <div>
                    <input type="button" value="-" onclick="deleteElement();"/>
                 </div>

                </section>
    
                </article>

        </section>
        <div class="botones_form">
        <button type="submit" class="crear_boton">Guardar Curso</button>
        <button class="cancelar_boton"><a href="/">Cancelar</a></button>
        </div> 
    </form>
</div>


    <%- include('../partials/footer') %>
</body>
<%- include('../partials/linksJsAbajo') %>
</html>