<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head') %>
<body>
    <%- include('../partials/navbar') %>

    <main>
        
        <section class="lista_carrito">

            <%  for (let i = 0 ; i < carts.length; i++){ %{

                <p><%= carts[i] %></p>


            <% } %>

        </section>
       
    </main>
        
    <%- include('../partials/footer') %>

</body>

<%- include('../partials/linksJsAbajo') %>

</html>