<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../partials/head') %>
    </head>
    <body>
        

        <%- include('../partials/navbar') %>

        <main>
            <section class="principal_curso">
                <article class="detalle_curso">
                    
                    <!-- titulo foto y descripcion en detalle_curso -->

                    <div class="sector_detalle">
                        
                        
                        <div class = "principal_img">
                            <img src="/images/curso.jpeg" alt="Foto del curso" class="curso-img">
                        </div>

                        <h2 class="titulo"><%= products[0].nombre %></h2>
                        <p class="descripcion"><%= products[0].descripcion %></p>
                        
                    </div>
                    
                </article>  


                <article class="sector_docente">

                    <div class="contenedor_docente">
                        <p class="docente_desc">Por: Gonzas</p>
                        <p class="docente_desc">Programador Web Full Stack</p>
                        
                    </div>
                </article>

                


                <article class="botones_comprayver">
                    <div class="contenedor_botones">
                        <button class="cursos_boton">Comprar</button>
                    </div>
                </article>
                

                
                <article class="sector_requisitos">

                
                    <h3 class="requisito_edad">Dirigido a: </h3>
                    <img src="/images/edadjoven.png" alt="edad" class="img_requisitos"> 
                    <h3 class="requisito_ambiente">Para: </h3>
                    <img src="/images/ambientejardin.png" alt="ambiente" class="img_requisitos">  
                    <h3 class="requisito_experiencia">Experiencia previa: </h3>
                    <img src="/images/experienciaavanzado.png" alt="experiencia" class="img_requisitos">  
                

                </article>    


                <h2 class="detalle_programa">¿Qué vamos a ver en el curso?</h2>
                <article class="sector_programa efecto_redondeado">
                    
                    <p class="unidad_programa">Unidad x: Nombre de la unidad</p>
                    <p class="descripcion_programa">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae illum quia quam impedit consequatur maxime consequuntur iste debitis non aliquid excepturi adipisci hic explicabo architecto minus veniam, ipsam error tempora.</p>
                    <div class="separador"></div>
                    
                </article>


                <!------ PODRIA PONER IDIOMA Y DEMAS DATOS (SONIDO, SUBTITULOS, ETC)------>



            </section>

        </main>
        <%- include('../partials/footer') %>
    </body>
    <%- include('../partials/linksJsAbajo') %>
</html>