<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- HEAD --->
        <%- include('../partials/head') %>
    </head>
        
    <body>
            
        <%- include('../partials/navbar') %>

        <div class="contenedor">

            <!-- HEADER --->
                

            <main>
                <article class="portada">
                    <!-- titulo foto y descripcion en detalle_curso -->

                    
                    <h1><%= product.name %></h1>
                    
                    <img src="/images/cursos/<%= product.image %>"   alt="Foto del curso" class="curso-img">
                    
                    <p class="descripcion_completa">
                        <%= product.description %>
                    </p>
                   
                </article>

                <article class="programa">

                    <h2 class="desc_unidades">¿Que vamos a ver en el curso?</h2>
                    
                    <div class="unidades">

                        <% for ( let i = 0; i < unidades.length; i++ ) {  %>
                        
                            <p class="unidad"> <%= ("U"+(i+1)) + " - " + unidades[i].unit_name %> </p>

                        <% } %>
                    </div>

                
                    <h2 class="desc_requisitos">Herramientas necesarias</h2>
                    
                    <div class="requisitos">
                        <% for ( let i = 0; i < requisitos.length; i++ ) {  %>
                    
                            <p class="requisito"> <%= requisitos[i].req_name %> </p>

                        <% } %>
                    </div>
                </article>


            </main>  

            <aside>
                <class class="botones">

                    <%if((categoriaLog == 2 && esta == false) || categoriaLog == 0){%>
                    <button class="buy_boton"><i class="fas fa-shopping-cart carrito"></i></button>
                    <%}%>
                    <%for(let i = 0; i < product.usuarios.length; i++){%>
                    <%if(categoriaLog == 1 && usuarioLog == product.usuarios[i].id){%>
                    <class class="modify_botones">
                        <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                            <button type="submit" class="delete_boton"><i class="fas fa-trash-alt basura"></i></button>
                        </form>

                        <form action="/products/edit/<%= product.id %>" method="GET">
                            <button type="submit" class="edit_boton"><i class="far fa-edit"></i></button>
                        </form>
                    </class>
                    <%}%>
                    <%}%>
                    
                    
                    
                </class>
                <div class="datos_curso">
                    
                    
                    <p class="dat__ precio">Precio: <%= "$" + product.price %></p>    
                    <p class="dat__">Dictado por:  <%= product.professor %> </p>
                    <p class="dat__">Dirigido a: <%= product.experiencia.category_name %> </p>
                    <p class="dat__">Ambiente: <%= product.ambiente.category_name %></p>
                    <p class="dat__">Edad recomendada: <%= product.edad.category_name %></p>
                    <p class="dat__">Idioma: <%= product.language %></p>
                    <p class="dat__">Duracion: <%= product.duration %></p>


                </div>
            </aside>
                

            <!-- FOOTER --->
            <%- include('../partials/footer') %>
        </div>
    </body>

    
    <%- include('../partials/linksJsAbajo') %>
</html>