<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- HEAD --->
        <%- include('../partials/head') %>
    </head>
        
    <body>
            
        

        <div class="contenedor">

            <!-- HEADER --->
            <%- include('../partials/navbar') %>    

            <main>
                <article class="portada">
                    <!-- titulo foto y descripcion en detalle_curso -->

                    
                    <h1><%= products[0].nombre %></h1>
                    <p><%= products[0].descripcion %></p>  
                    <img src="/images/curso.jpeg" alt="Foto del curso" class="curso-img">
                    
                    <p class="descripcion_completa">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus labore ullam error quibusdam natus ea, libero, nulla aperiam sit porro delectus, est laudantium optio minus sapiente autem molestias deserunt.
                    </p>
                   
                </article>

                <article class="programa">

                    <h2>¿Que vamos a ver en el curso?</h2>
                    <div class="unidades_curso">
                        <p>Unidad 1: </p>
                        <p>Unidad 2: </p>
                        <p>Unidad 3: </p>
                        <p>Unidad 4: </p>
                    </div>
                    <h2>¿A quien va dirigido?</h2>
                    <p class="dirigido_a_quien">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus labore ullam error quibusdam natus ea, libero, nulla aperiam sit porro delectus, est laudantium optio minus sapiente autem molestias deserunt.
                    </p>
                    <h2>Requisitos</h2>
                    <p class="requisitos">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem repellendus labore ullam error quibusdam natus ea, libero, nulla aperiam sit porro delectus, est laudantium optio minus sapiente autem molestias deserunt.
                    </p>
                </article>


            </main>  

            <aside>
                <button class="boton">Añadir a carro</button>
                
                
                <div class="datos_curso">
                    
                    
                    <p class="precio">Precio:</p>    
                    

                    <p class="dat__">Dictado por: </p>
                    <p class="dat__">Dificultad: </p>
                    <p class="dat__">Dirigido a: </p>
                    <p class="dat__">Ambiente: </p>
                    <p class="dat__">Idioma: </p>
                    <p class="dat__">Duracion: </p>


                </div>
            </aside>
                

            <!-- FOOTER --->
            <%- include('../partials/footer') %>
        </div>
    </body>

    
    <%- include('../partials/linksJsAbajo') %>
</html>