<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- HEAD --->
        <%- include('../partials/head') %>
    </head>
        
    <body>
            
        <%- include('../partials/navbar') %>

        <div class="contenedor">

            <!-- HEADER --->
                

            <main>  
                <article class="portada">

                    <!-- titulo foto y descripcion en detalle_curso -->
                    <h1><%= product.name %></h1>
                    <h3>Un curso dictado por <%= product.professor %></h2>

                    <div class="datos_sub">
                        <p class="dat__"><i class="fas fa-book"></i>Nivel: <%= product.experiencia.category_name %> </p>
                        <p class="dat__"><i class="fas fa-leaf"></i>Ambiente: <%= product.ambiente.category_name %></p>
                        <p class="dat__"><i class="fas fa-volume-up"></i></i>Idioma: <%= product.language %></p>
                    </div>
                    
                    <img src="/images/cursos/<%= product.image %>"   alt="Foto del curso" class="curso-img">
                    
                    <p class="descripcion_completa"><%= product.description %></p>

                </article>

                <article class="botones">

                    <%if((categoriaLog == 2 && esta == false)){%>
                        <form action="/products/carrito/agregarAlCarrito" method="post">
                            <button type="submit" class="buy_boton"><i class="fas fa-shopping-cart carrito"></i> Comprar </button>
                            <input type="hidden"  name="product_id" value="<%= product.id%>">
                        </form>
                        
                    <%}%>

                    <%if(categoriaLog == 0){%>
                        <a href="/users/login"><button class="buy_boton"><i class="fas fa-shopping-cart carrito"></i> Comprar </button></a>
                    <%}%>
                    <%for(let i = 0; i < product.usuarios.length; i++){%>
                        <%if(categoriaLog == 1 && usuarioLog == product.usuarios[i].id){%>
                        <class class="modify_botones">
                            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="delete_boton"><i class="fas fa-trash-alt basura"></i> Borrar </button>
                            </form>

                            <form action="/products/edit/<%= product.id %>" method="GET">
                                <button type="submit" class="edit_boton"><i class="far fa-edit"></i> Editar </button>
                            </form>
                        </class>
                        <%}%>
                    <%}%>

                    <div class="datos_curso">
                     
                        <!-- Datos del curso que van en el sidebar --->
                         
                        <p class="dat__"><i class="far fa-user"></i>Dictado por:  <%= product.professor %> </p>
                        <p class="dat__"><i class="fas fa-book"></i>Nivel: <%= product.experiencia.category_name %> </p>
                        <p class="dat__"><i class="fas fa-leaf"></i>Ambiente: <%= product.ambiente.category_name %></p>
                        <p class="dat__"><i class="far fa-smile"></i>Para: <%= product.edad.category_name %></p>
                        <p class="dat__"><i class="far fa-file-pdf"></i>Contenido descargable</p>
                        <p class="dat__"><i class="fas fa-volume-up"></i></i>Idioma: <%= product.language %></p>
                        <p class="dat__"><i class="far fa-clock"></i>Duracion: <%= product.duration %></p>
                        <p class="dat__"><i class="fas fa-infinity"></i>Acceso ilimitado por siempre</p>
    
                    </div>

                </article>

                <article class="programa">

                    <h2 class="desc_unidades">¿Que vamos a ver en el curso?</h2>
            
                    <div class="unidades">
                        <p class="subtittle_unit">Unidades</p>
                        <% for ( let i = 0; i < unidades.length; i++ ) {  %>
                            <div class="unidad"> 
                                <p class='unit_indice'> <%= (i+1) %> </p>
                                <p class='unit_name'> <%= unidades[i].unit_name %> </p>
                            </div>
                        <% } %>
                    </div>

                    <h2 class="desc_requisitos">Herramientas necesarias</h2>
                    <div class="requisitos">
                        <% for ( let i = 0; i < requisitos.length; i++ ) {  %>
                            <p class="requisito"> <i class="fas fa-tools"></i> <%= requisitos[i].req_name %> </p>
                        <% } %>
                    </div>

                </article>


                <hr>

                <article class="sobre_dg">

                    <h2 class="desc_dg">Así es Digital Gardin</h2>
                    
                    <div class="items_dg">
                        <div class="item">
                            <h3 class="item_tittle"><i class="far fa-clock"></i>Tú manejas el tiempo</h3>
                            <p class="item_desc">Organiza tus horarios a medida y de la forma que mas te guste.</p>
                        </div>

                        <div class="item">
                            <h3 class="item_tittle"><i class="fas fa-user-tie"></i>Tutores expertos</h3>
                            <p class="item_desc">Los cursos son dictados por profesionales expertos en el tema.</p>
                        </div> 

                        <div class="item">
                            <h3 class="item_tittle"><i class="fas fa-video"></i>Contenido de alta calidad</h3>
                            <p class="item_desc">Los contenidos son de calidad profesional.</p>
                        </div>

                        <div class="item">
                            <h3 class="item_tittle"><i class="fas fa-signal"></i>Clases en linea</h3>
                            <p class="item_desc">Los contenidos son de calidad profesional.</p>
                        </div>        
                    </div>

                </article>

            </main>  

            <aside>
                <div class="botones">

                    <%if((categoriaLog == 2 && esta == false)){%>
                        <form action="/products/carrito/agregarAlCarrito" method="post">
                            <button type="submit" class="buy_boton"><i class="fas fa-shopping-cart carrito"></i> Comprar </button>
                            <input type="hidden"  name="product_id" value="<%= product.id%>">
                        </form>
                    <%}%>

                    <%if(categoriaLog == 0){%>
                        <a href="/users/login"><button class="buy_boton"><i class="fas fa-shopping-cart carrito"></i> Comprar </button></a>
                    <%}%>
                    <%for(let i = 0; i < product.usuarios.length; i++){%>
                        <%if(categoriaLog == 1 && usuarioLog == product.usuarios[i].id){%>
                        <class class="modify_botones">
                            <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
                                <button type="submit" class="delete_boton"><i class="fas fa-trash-alt basura"></i> Borrar </button>
                            </form>

                            <form action="/products/edit/<%= product.id %>" method="GET">
                                <button type="submit" class="edit_boton"><i class="far fa-edit"></i> Editar </button>
                            </form>
                        </class>
                        <%}%>
                    <%}%>
                    
                    
                    
                </div>
                <div class="datos_curso">
                     
                    <!-- Datos del curso que van en el sidebar --->
                    <p class="dat__ precio"><%= "$" + product.price %>  </p>    
                    <p class="dat__"><i class="far fa-user"></i>Dictado por:  <%= product.professor %> </p>
                    <p class="dat__"><i class="fas fa-book"></i>Nivel: <%= product.experiencia.category_name %> </p>
                    <p class="dat__"><i class="fas fa-leaf"></i>Ambiente: <%= product.ambiente.category_name %></p>
                    <p class="dat__"><i class="far fa-smile"></i>Para: <%= product.edad.category_name %></p>
                    <p class="dat__"><i class="far fa-file-pdf"></i>Contenido descargable</p>
                    <p class="dat__"><i class="fas fa-volume-up"></i></i>Idioma: <%= product.language %></p>
                    <p class="dat__"><i class="far fa-clock"></i>Duracion: <%= product.duration %></p>
                    <p class="dat__"><i class="fas fa-infinity"></i>Acceso ilimitado por siempre</p>

                </div>
            </aside>
                

            <!-- FOOTER --->
            <%- include('../partials/footer') %>
        </div>
    </body>

    
    <%- include('../partials/linksJsAbajo') %>
</html>