<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head') %>

<body>

    <%- include('./partials/navbar') %>
      

  <header class="home_header">
      <div class="max_width">
      <div class="header_info">
      <h1 class="header_titulo">Cursos de jardinería online para crear tu ambiente perfecto</h1>
      <p class="header_texto">En Gardin encontrarás cursos para todas las edades, sin importar tu nivel de experiencia y donde sea que estés.</p>
    </div>
      <div class="header_links">
          <a href=""><button class="header_boton">Ver cursos</button></a>
          <a href="/signin"><button class="header_boton">Registrate</button></a>
      </div></div>
  </header>  
  <main>

    <%- include('./partials/categoriasCursos') %>

<article class="home_promociones">
    <section class="promociones_img"><img src="/images/mujer_plantas.jpg" alt="Mujer con plantas"></section>
    <section class="promociones_info"><p>Descubrí todos los beneficios disponibles para miembros, desde descuentos en productos de tus tiendas favoritas hasta envíos gratis a tu hogar.</p>
    <a href=""><button class="promociones_boton">Ver promociones</button></a></section>
</article>
<div class="color_fondo">
<article class="home_promo">
    <section class="promo_titulo">
        <h2 class="subtitulo_promo">Mantenete conectado/a!</h2>
        <p>Recibí notificaciones de cursos nuevos y populares para no perderte la experiencia ideal para vos.</p>
    </section>
    <section class="promo_input">
        <form action="" method="POST">
        <input class="home_newsletter" type="email" name="newsletter" id="newsletter" placeholder="Ingresa tu dirección email">
        <button type="submit" class="boton_promo">Suscribirse</button>
    </form>
    </section>
</article></div>
</main>
<%- include('./partials/footer') %>
</body>
<%- include('./partials/linksJsAbajo') %>
</html>